<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="emailAddress">Email Address</label>
    <input
      type="text"
      ngModel
      name="email"
      id="emailAddress"
      required
      email
    >
<!--    <span *ngIf="email.invalid && email.touched" class="help-block">Please enter a valid email!</span>-->
  </div>
  <div class="form-group">
    <label for="subscription">Subscription</label>
    <select
      name="subscription"
      id="subscription"
      ngModel
      class="form-control"
      [ngModel]="'advanced'"
    >
      <option value="basic">Basic</option>
      <option value="advanced">Advanced</option>
      <option value="pro">Pro</option>
    </select>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      ngModel
      id="password"
      name="password"
      required
    >
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
  <p *ngIf="form.invalid && form.touched">The form is invalid</p>
</form>
